@keyframes aurora-borealis {
    0% {
      background-position: 99% 0%;
      -webkit-backdrop-filter: saturate(1.5);
      backdrop-filter: saturate(1.5);
    }
    50% {
      background-position: 70% 7%;
      -webkit-backdrop-filter: saturate(1.5) hue-rotate(100deg);
      backdrop-filter: saturate(1.5) hue-rotate(100deg);
    }
    80% {
      background-position: 90% 0%;
      -webkit-backdrop-filter: saturate(1.5);
      backdrop-filter: saturate(1.5);
    }
    100% {
      background-position: 100% 0%;
      -webkit-backdrop-filter: saturate(1.5);
      backdrop-filter: saturate(1.5);
    }
  }
  
  .aurora-borealis {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 200px;
    mix-blend-mode: lighten;
    background: linear-gradient(280deg, #03f241, #d549dd, #03e5f2, #03f241);
    background-size: 400% 400%;
    animation: aurora-borealis 20s ease infinite;
  }


  @keyframes getDown{
    0% {
      transform: translateY(0px);
    }
    10% {
      transform: translateY(-1px);
    }
    60% {
      transform: translateY(3px);
    }
    95% {
      transform: translateY(-1px);
    }
    100% {
      transform: translateY(0px);
    }
  } 

  .getDown:hover {
    animation: getDown 0.5s ease-in-out 1 alternate;
  }

  /* .getDown:touch {
    animation: getDown 0.5s ease-in-out 1 alternate;
  } */