/* Manrope && Archivo && Ubuntu Mono */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

.project-center {
  position: relative;
  top: 50%; 
  right: 50%;
  transform: translate(50%,-50%);
}

/* hacky fix for firefox Slider container */
#projects:first-child {
  max-height: 100%;
}

.glassmorphism {
  background: rgba(0, 0, 0, 0.58);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.4px);
  -webkit-backdrop-filter: blur(9.4px);
}

.project-center-reset {
  position: absolute;
  top: 50%; 
  right: 50%;
  transform: translate(50%, -50%);
}

@layer base {
  h1 {
    @apply font-Archivo sm:text-7xl;
  }

  h2,
  h3,
  h4 {
    @apply font-UbuntuMono text-3xl;
  }

  p, 
  li, 
  a,
  span,
  address {
    @apply font-Manrope text-base sm:text-lg md:text-xl;
  }

  body {
    @apply h-screen w-full;
  }

  html {
    @apply scroll-smooth;
  }
}