@use 'vars' as *;

body {
    background-color: #f9f5f5;
    
    h1, h2, h3, h4 {
        font-family: $header-font;
    }

    p, li, a {
        font-family: $body-font;
    }
    // background-size: cover;
    // background-position: center;
    // background-repeat: repeat;
}